

<div *ngIf="address">
    <h2>My Address Information</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Postal Code</th>
                <th>Deparment</th>
                <th>Municipality</th>
                <th>Neighbourhood</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{address.postalCode}}</td>
                <td>{{address.department}}</td>
                <td>{{address.municipality}}</td>
                <td>{{address.neighbourhood}}</td>
            </tr>
        </tbody>
    </table>
</div>
