
  /* tables styles  */
  td, th {
    width: 4rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
  }
  th {
    background: lightblue;
    border-color: white;
  }
  body {
    padding: 1rem;
  }